pandas
numpy
scikit-learn
fastapi
uvicorn
pydantic
torch
gunicorn
tensorflow
torch
transformers
scipy
httpx
requests
joblib
openai
psycopg2
python-decouple
python-dotenv
supabase
ipykernel
torch 
torchvision 
torchaudio